---
//ACCESS KEY TO API WEB3FORMS
const access_key = import.meta.env.PUBLIC_ACCESS_KEY
---
<section>
    <div class="tittle">
        <span class="anchor-point" id="Contactos"></span>
        <h2>CONTACTO</h2>
        <hr>
    </div>
    <div class="contact-container">
        <div class="info-contact">
            <a href="https://wa.me/593983516817" title="Escribenos al WhatsApp" data-tooltip-placement="top" target="_blank">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M35.2696 26.3395L27.2898 22.5591C26.9283 22.3954 26.5338 22.3295 26.1421 22.3676C25.7504 22.4056 25.3739 22.5463 25.0466 22.777C25.0134 22.7996 24.9818 22.8247 24.952 22.852L20.7814 26.602C20.7381 26.6269 20.6899 26.6409 20.6407 26.6427C20.5914 26.6446 20.5424 26.6343 20.4976 26.6127C17.8168 25.2449 15.0398 22.327 13.7408 19.5324C13.7192 19.4857 13.708 19.4343 13.708 19.3823C13.708 19.3304 13.7192 19.279 13.7408 19.2323L17.3 14.7681C17.3255 14.7351 17.3492 14.7005 17.3709 14.6645C17.5861 14.3172 17.7161 13.9187 17.7491 13.505C17.7821 13.0913 17.7172 12.6754 17.5601 12.2949L14.0094 3.87342C13.8078 3.37629 13.4591 2.96171 13.0156 2.69189C12.5721 2.42208 12.0579 2.31158 11.55 2.37699C9.34257 2.68377 7.31637 3.82974 5.84999 5.60074C4.38362 7.37175 3.57742 9.64661 3.58205 12.0002C3.58205 25.9824 14.3422 37.3573 27.5685 37.3573C29.7948 37.3619 31.9465 36.5095 33.6217 34.9594C35.2969 33.4093 36.381 31.2675 36.6716 28.9341C36.7333 28.3997 36.6302 27.8585 36.3776 27.391C36.125 26.9235 35.7364 26.5547 35.2696 26.3395ZM27.5685 35.2145C15.4604 35.2145 5.60908 24.8002 5.60908 12.0002C5.60343 10.1679 6.22902 8.39617 7.36895 7.01594C8.50889 5.63571 10.0852 4.74143 11.8033 4.50021H11.8422C11.9103 4.50155 11.9764 4.5246 12.0318 4.56635C12.0873 4.60809 12.1295 4.66658 12.153 4.73414L15.7172 13.1466C15.7375 13.1934 15.748 13.2443 15.748 13.2957C15.748 13.3472 15.7375 13.3981 15.7172 13.4448L12.1513 17.9199C12.1248 17.9519 12.1006 17.9859 12.0787 18.0216C11.8555 18.3817 11.7241 18.7966 11.6972 19.2262C11.6703 19.6557 11.7487 20.0853 11.925 20.4734C13.4233 23.7163 16.5145 26.9591 19.6158 28.5431C19.9851 28.7283 20.3935 28.8093 20.8011 28.778C21.2088 28.7467 21.6018 28.6042 21.9419 28.3645C21.9739 28.3413 22.006 28.3163 22.0364 28.2895L26.2054 24.5395C26.2465 24.5161 26.292 24.5024 26.3387 24.4993C26.3853 24.4962 26.432 24.5038 26.4756 24.5216L34.4571 28.302C34.5222 28.3313 34.5771 28.3816 34.6137 28.4457C34.6504 28.5098 34.6671 28.5845 34.6614 28.6591C34.4345 30.4763 33.5893 32.1439 32.284 33.3503C30.9786 34.5568 29.3024 35.2194 27.5685 35.2145Z" fill="white"/>
                </svg>
                <span>+593 99 999 9999</span>
            </a>
            <a href="mailto:urbmanta.hills@gmail.com" title="Envía un correo directamente" data-tooltip-placement="top">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M36.6673 10.0001C36.6673 8.16675 35.1673 6.66675 33.334 6.66675H6.66732C4.83398 6.66675 3.33398 8.16675 3.33398 10.0001V30.0001C3.33398 31.8334 4.83398 33.3334 6.66732 33.3334H33.334C35.1673 33.3334 36.6673 31.8334 36.6673 30.0001V10.0001ZM33.334 10.0001L20.0007 18.3334L6.66732 10.0001H33.334ZM33.334 30.0001H6.66732V13.3334L20.0007 21.6667L33.334 13.3334V30.0001Z" fill="white"/>
                </svg>
                <span>urbmanta.hills@gmail.com</span>
            </a>
            <a href="https://www.instagram.com/urbamantahills/" title="Visítanos en nuestra página de Instagram" data-tooltip-placement="top" target="_blank">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.0007 3.33325H27.0007C32.334 3.33325 36.6673 7.66659 36.6673 12.9999V26.9999C36.6673 29.5637 35.6489 32.0224 33.836 33.8353C32.0232 35.6481 29.5644 36.6666 27.0007 36.6666H13.0007C7.66732 36.6666 3.33398 32.3333 3.33398 26.9999V12.9999C3.33398 10.4362 4.35243 7.97741 6.16529 6.16455C7.97814 4.3517 10.4369 3.33325 13.0007 3.33325ZM12.6673 6.66659C11.076 6.66659 9.5499 7.29873 8.42468 8.42394C7.29946 9.54916 6.66732 11.0753 6.66732 12.6666V27.3333C6.66732 30.6499 9.35065 33.3333 12.6673 33.3333H27.334C28.9253 33.3333 30.4514 32.7011 31.5766 31.5759C32.7018 30.4507 33.334 28.9246 33.334 27.3333V12.6666C33.334 9.34992 30.6507 6.66659 27.334 6.66659H12.6673ZM28.7507 9.16659C29.3032 9.16659 29.8331 9.38608 30.2238 9.77678C30.6145 10.1675 30.834 10.6974 30.834 11.2499C30.834 11.8025 30.6145 12.3324 30.2238 12.7231C29.8331 13.1138 29.3032 13.3333 28.7507 13.3333C28.1981 13.3333 27.6682 13.1138 27.2775 12.7231C26.8868 12.3324 26.6673 11.8025 26.6673 11.2499C26.6673 10.6974 26.8868 10.1675 27.2775 9.77678C27.6682 9.38608 28.1981 9.16659 28.7507 9.16659ZM20.0007 11.6666C22.2108 11.6666 24.3304 12.5446 25.8932 14.1074C27.456 15.6702 28.334 17.7898 28.334 19.9999C28.334 22.2101 27.456 24.3297 25.8932 25.8925C24.3304 27.4553 22.2108 28.3333 20.0007 28.3333C17.7905 28.3333 15.6709 27.4553 14.1081 25.8925C12.5453 24.3297 11.6673 22.2101 11.6673 19.9999C11.6673 17.7898 12.5453 15.6702 14.1081 14.1074C15.6709 12.5446 17.7905 11.6666 20.0007 11.6666ZM20.0007 14.9999C18.6746 14.9999 17.4028 15.5267 16.4651 16.4644C15.5274 17.4021 15.0007 18.6738 15.0007 19.9999C15.0007 21.326 15.5274 22.5978 16.4651 23.5355C17.4028 24.4731 18.6746 24.9999 20.0007 24.9999C21.3267 24.9999 22.5985 24.4731 23.5362 23.5355C24.4739 22.5978 25.0007 21.326 25.0007 19.9999C25.0007 18.6738 24.4739 17.4021 23.5362 16.4644C22.5985 15.5267 21.3267 14.9999 20.0007 14.9999Z" fill="white"/>
                </svg>
                <span>@urbamantahills</span>
            </a>
            <a href="https://www.facebook.com/urbmantahills/" title="Visítanos en nuestra página de Facebook" data-tooltip-placement="top" target="_blank">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M36.6673 19.9999C36.6673 10.7999 29.2007 3.33325 20.0007 3.33325C10.8007 3.33325 3.33398 10.7999 3.33398 19.9999C3.33398 28.0666 9.06732 34.7833 16.6673 36.3333V24.9999H13.334V19.9999H16.6673V15.8333C16.6673 12.6166 19.284 9.99992 22.5007 9.99992H26.6673V14.9999H23.334C22.4173 14.9999 21.6673 15.7499 21.6673 16.6666V19.9999H26.6673V24.9999H21.6673V36.5833C30.084 35.7499 36.6673 28.6499 36.6673 19.9999Z" fill="white"/>
                </svg>
                <span>Manta hills</span>
            </a>
        </div>
        <div class="form-contact">
            <form id="contactForm" 
            action="https://api.web3forms.com/submit"
            method="post"
            class="needs-validation"
            data-astro-reload
            novalidate>
                <input type="hidden" name="access_key" value={access_key} />
                <input type="hidden" name="subject" value="Un nuevo mensaje de la página de Manta Hills">
                <input type="checkbox" class="hidden" style="display:none" name="botcheck" />
                <input type="hidden" name="from_name" value="Página Manta Hills">

                <input type="text" name="name" id="name" class="input " placeholder="Nombre" required>
                <div class="empty-feedback invalid-feedback">Envia tu nombre completo, por favor.</div>
                <input type="email" name="email" id="email" class="input" placeholder="Correo Electrónico" v-model="email" required>
                <div class="empty-feedback invalid-feedback">Envía tu correo electrónico, por favor.</div>
                <input type="tel" class="input" name="tlf" placeholder="Número de Teléfono" v-model="tlf" required>
                <div class="empty-feedback invalid-feedback">Envía tu número telefónico, por favor.</div>
                <textarea class="input" cols="30" rows="5" name="msg" placeholder="Mensaje" v-model="msg" required></textarea>
                <div class="empty-feedback invalid-feedback">Envía tu mensaje, por favor.</div>
                <div class="btn-div">
                    <button type="submit" class="btn form-btn">Enviar</button>
                    <div id="result"></div>
                </div>
            </form>
        </div>
    </div>
    <div class="inFooter"></div>
</section>
<style scoped>
    section{
        background-color: var(--secondary-color);
        background-image: url('../assets/footerBegin.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom 0px right 50%;
    }
    /* TITTLE */
    .tittle h2{
        margin: 0;
        padding: 1em 0 0 0;
        color: #fff;
    }
    .tittle hr{
        border-color: #fff;
    }
    /* CONTACT CONTAINER */
    .contact-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
    }
    /* INFO CONTACT */
    .info-contact{
        font-family: "Poppins", sans-serif;
        display: grid;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2em;
    }
    .info-contact a{
        text-decoration: none;
        color: #fff;
        display: flex;
        gap: 10px;
    }
    .info-contact svg{
        transition: transform .3s ease;
    }
    .info-contact svg:hover{
        transform: scale(1.2);
    }
    /* FORM CONTACT */
    form { max-width:420px; margin:50px auto; }

    input, textarea {
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: var(--third-color);
    border:0px solid #fff;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
    }

    input:focus, textarea:focus{ border:1px solid #fff; }

    textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
    }

    [type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background:#8EC3D3;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
    }
    [type="submit"]:hover { background:#63b3cb; }
    .anchor-point {
        position: relative;
        top: -75px;
        visibility: hidden;
    }

    /* VALIDATIONS */
    .invalid-feedback,
    .empty-feedback {
        display: none;
    }

    .was-validated :placeholder-shown:invalid ~ .empty-feedback {
        display: block;
        color: #dc3545;
    }

    .was-validated :not(:placeholder-shown):invalid ~ .invalid-feedback {
        display: block;
        color: #dc3545;
    }

    .is-invalid,
    .was-validated :invalid {
        border-color: #dc3545;
    }
    .text-green-500{
        color: #4EF037;
    }
    .text-red-500{
        
    }

    @media (max-width:690px){
        .contact-container{
            grid-template-columns: 1fr;
        }
        .info-contact{
            margin-top: 20px;
        }
    }
    @media (max-width:425px) {
        .info-contact{
            font-size: 16px;
        }
        .form-contact{
            margin: 0 .5em;
        }
        input, textarea {
            font-size: 16px;
        }
    }
</style>
<script>
    window.onload = function() {
        // Reset fields of the form when is reloades
        const form = document.getElementById("contactForm") as HTMLFormElement;
        form.reset();
    };

    document.addEventListener("DOMContentLoaded", () => {
        const form = document.getElementById("contactForm") as HTMLFormElement;
        const result = document.getElementById("result");

        //Function to send a mail with Web3Forms
        form.addEventListener("submit", function (e) {
            e.preventDefault();
            form.classList.add("was-validated");
            //Form Validations 
            if (!form.checkValidity()) {
                const firstInvalidElement = form.querySelectorAll(":invalid")[0] as HTMLElement;
                firstInvalidElement.focus();
                return;
            }
            const formData = new FormData(form);
            const object = Object.fromEntries(formData);
            const json = JSON.stringify(object);

            result.innerHTML = "Enviando...";
            //Sending the data to the API
            fetch("https://api.web3forms.com/submit", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    Accept: "application/json",
                },
                body: json,
            })
            .then(async (response) => {
                let json = await response.json();
                if (response.status == 200) {
                    result.classList.add("text-green-500");
                    result.innerHTML = json.message;
                    form.reset();
                } else {
                    console.log(response);
                    result.classList.add("text-red-500");
                    result.innerHTML = json.message;
                }
            })
            .catch((error) => {
                console.log(error);
                result.innerHTML = "Ha ocurrido un error!";
            })
            .finally(function () {
                form.classList.remove("was-validated");
                setTimeout(() => {
                    result.style.display = "none";
                }, 5000);
            });
        });
    });
</script>