---
import Image from "astro/components/Image.astro"
---

<!-- Contenedor principal de Swiper -->
<div class="swiper" >     
    <!-- Wrapper adicional requerido -->
    <div class="swiper-wrapper" id="my-slider">
        <!-- Los slides -->
        <div class="swiper-slide">
            <a 
                class="swiper-slide"
                href="https://res.cloudinary.com/dcax5qaud/image/upload/v1720629658/c00zqjfadzfkfja2xssn.png"
                data-pswp-width="800" data-pswp-height="800"
                target="_blank"
                data-cropped="true"
            >
                <Image src="https://res.cloudinary.com/dcax5qaud/image/upload/v1720629658/c00zqjfadzfkfja2xssn.png" alt="Manta Hills en la entrada" width="50" height="50" />
            </a>
        </div>
        <div class="swiper-slide" style="text-align:center;">
            <video src="https://res.cloudinary.com/dcax5qaud/video/upload/v1720628410/wizhxnrhyftnz2g1nyrz.mp4" autoplay="true" muted="true" loop="true" poster="https://carontestudio.com/img/contacto.jpg"></video>            
        </div>
        <div class="swiper-slide">
            <a 
                class="swiper-slide"
                href="https://res.cloudinary.com/dflwv95uy/image/upload/v1720100887/rtdvf8h0bnlfslnhgsyo.jpg"
                data-pswp-width="800" data-pswp-height="800"
                target="_blank"
                data-cropped="true"
            >
                <Image src="https://res.cloudinary.com/dflwv95uy/image/upload/v1720100887/rtdvf8h0bnlfslnhgsyo.jpg" alt="Entrada a Manta Hills en la noche" width="50" height="50" />
            </a>
        </div>
        <div class="swiper-slide" >
            <video src="https://res.cloudinary.com/dcax5qaud/video/upload/v1720451692/btjd2sggprkkxuklkq8w.mp4" autoplay="true" muted="true" loop="true" poster="https://carontestudio.com/img/contacto.jpg"></video>            
        </div>
        <div class="swiper-slide">
            <a 
                class="swiper-slide"
                href="https://res.cloudinary.com/dflwv95uy/image/upload/v1720100888/gisyvyb7akdl1rrjy1eo.jpg"
                data-pswp-width="800" data-pswp-height="800"
                target="_blank"
                data-cropped="true"
            >
                <Image src="https://res.cloudinary.com/dflwv95uy/image/upload/v1720100888/gisyvyb7akdl1rrjy1eo.jpg" alt="Entrada a Manta Hills" width="50" height="50" />
            </a>
        </div>
        <div class="swiper-slide">
            <video src="https://res.cloudinary.com/dcax5qaud/video/upload/v1721057652/i2aqni4wsnicrxbyqywc.mp4" autoplay="true" muted="true" loop="true" poster="https://carontestudio.com/img/contacto.jpg"></video>
        </div>
        
    </div>
    <!-- Botones de navegación -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
<div class="onMobile">
    <svg width="515" height="16" viewBox="0 0 515 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M514.707 8.70713C515.098 8.3166 515.098 7.68344 514.707 7.29291L508.343 0.928951C507.953 0.538427 507.319 0.538427 506.929 0.928951C506.538 1.31948 506.538 1.95264 506.929 2.34316L512.586 8.00002L506.929 13.6569C506.538 14.0474 506.538 14.6806 506.929 15.0711C507.319 15.4616 507.953 15.4616 508.343 15.0711L514.707 8.70713ZM289 9L291.009 9L291.009 7L289 7L289 9ZM295.027 9L299.045 9L299.045 7L295.027 7L295.027 9ZM303.062 9L307.08 9L307.08 7L303.063 7L303.062 9ZM311.098 9L315.116 9L315.116 7L311.098 7L311.098 9ZM319.134 9L323.152 9L323.152 7L319.134 7L319.134 9ZM327.17 9L331.187 9L331.187 7L327.17 7L327.17 9ZM335.205 9L339.223 9L339.223 7L335.205 7L335.205 9ZM343.241 9L347.259 9.00001L347.259 7.00001L343.241 7L343.241 9ZM351.277 9.00001L355.295 9.00001L355.295 7.00001L351.277 7.00001L351.277 9.00001ZM359.312 9.00001L363.33 9.00001L363.33 7.00001L359.313 7.00001L359.312 9.00001ZM367.348 9.00001L371.366 9.00001L371.366 7.00001L367.348 7.00001L367.348 9.00001ZM375.384 9.00001L379.402 9.00001L379.402 7.00001L375.384 7.00001L375.384 9.00001ZM383.42 9.00001L387.438 9.00001L387.438 7.00001L383.42 7.00001L383.42 9.00001ZM391.455 9.00001L395.473 9.00001L395.473 7.00001L391.455 7.00001L391.455 9.00001ZM399.491 9.00001L403.509 9.00001L403.509 7.00001L399.491 7.00001L399.491 9.00001ZM407.527 9.00001L411.545 9.00001L411.545 7.00001L407.527 7.00001L407.527 9.00001ZM415.563 9.00001L419.58 9.00001L419.58 7.00001L415.563 7.00001L415.563 9.00001ZM423.598 9.00001L427.616 9.00001L427.616 7.00001L423.598 7.00001L423.598 9.00001ZM431.634 9.00001L435.652 9.00001L435.652 7.00001L431.634 7.00001L431.634 9.00001ZM439.67 9.00001L443.688 9.00001L443.688 7.00001L439.67 7.00001L439.67 9.00001ZM447.705 9.00001L451.723 9.00001L451.723 7.00001L447.705 7.00001L447.705 9.00001ZM455.741 9.00001L459.759 9.00001L459.759 7.00001L455.741 7.00001L455.741 9.00001ZM463.777 9.00002L467.795 9.00002L467.795 7.00002L463.777 7.00002L463.777 9.00002ZM471.812 9.00002L475.83 9.00002L475.83 7.00002L471.812 7.00002L471.812 9.00002ZM479.848 9.00002L483.866 9.00002L483.866 7.00002L479.848 7.00002L479.848 9.00002ZM487.884 9.00002L491.902 9.00002L491.902 7.00002L487.884 7.00002L487.884 9.00002ZM495.92 9.00002L499.937 9.00002L499.937 7.00002L495.92 7.00002L495.92 9.00002ZM503.955 9.00002L507.973 9.00002L507.973 7.00002L503.955 7.00002L503.955 9.00002ZM511.991 9.00002L514 9.00002L514 7.00002L511.991 7.00002L511.991 9.00002ZM514.707 8.70713C515.098 8.3166 515.098 7.68344 514.707 7.29291L508.343 0.928951C507.953 0.538427 507.319 0.538427 506.929 0.928951C506.538 1.31948 506.538 1.95264 506.929 2.34316L512.586 8.00002L506.929 13.6569C506.538 14.0474 506.538 14.6806 506.929 15.0711C507.319 15.4616 507.953 15.4616 508.343 15.0711L514.707 8.70713ZM289 9L291.009 9L291.009 7L289 7L289 9ZM295.027 9L299.045 9L299.045 7L295.027 7L295.027 9ZM303.062 9L307.08 9L307.08 7L303.063 7L303.062 9ZM311.098 9L315.116 9L315.116 7L311.098 7L311.098 9ZM319.134 9L323.152 9L323.152 7L319.134 7L319.134 9ZM327.17 9L331.187 9L331.187 7L327.17 7L327.17 9ZM335.205 9L339.223 9L339.223 7L335.205 7L335.205 9ZM343.241 9L347.259 9.00001L347.259 7.00001L343.241 7L343.241 9ZM351.277 9.00001L355.295 9.00001L355.295 7.00001L351.277 7.00001L351.277 9.00001ZM359.312 9.00001L363.33 9.00001L363.33 7.00001L359.313 7.00001L359.312 9.00001ZM367.348 9.00001L371.366 9.00001L371.366 7.00001L367.348 7.00001L367.348 9.00001ZM375.384 9.00001L379.402 9.00001L379.402 7.00001L375.384 7.00001L375.384 9.00001ZM383.42 9.00001L387.438 9.00001L387.438 7.00001L383.42 7.00001L383.42 9.00001ZM391.455 9.00001L395.473 9.00001L395.473 7.00001L391.455 7.00001L391.455 9.00001ZM399.491 9.00001L403.509 9.00001L403.509 7.00001L399.491 7.00001L399.491 9.00001ZM407.527 9.00001L411.545 9.00001L411.545 7.00001L407.527 7.00001L407.527 9.00001ZM415.563 9.00001L419.58 9.00001L419.58 7.00001L415.563 7.00001L415.563 9.00001ZM423.598 9.00001L427.616 9.00001L427.616 7.00001L423.598 7.00001L423.598 9.00001ZM431.634 9.00001L435.652 9.00001L435.652 7.00001L431.634 7.00001L431.634 9.00001ZM439.67 9.00001L443.688 9.00001L443.688 7.00001L439.67 7.00001L439.67 9.00001ZM447.705 9.00001L451.723 9.00001L451.723 7.00001L447.705 7.00001L447.705 9.00001ZM455.741 9.00001L459.759 9.00001L459.759 7.00001L455.741 7.00001L455.741 9.00001ZM463.777 9.00002L467.795 9.00002L467.795 7.00002L463.777 7.00002L463.777 9.00002ZM471.812 9.00002L475.83 9.00002L475.83 7.00002L471.812 7.00002L471.812 9.00002ZM479.848 9.00002L483.866 9.00002L483.866 7.00002L479.848 7.00002L479.848 9.00002ZM487.884 9.00002L491.902 9.00002L491.902 7.00002L487.884 7.00002L487.884 9.00002ZM495.92 9.00002L499.937 9.00002L499.937 7.00002L495.92 7.00002L495.92 9.00002ZM503.955 9.00002L507.973 9.00002L507.973 7.00002L503.955 7.00002L503.955 9.00002ZM511.991 9.00002L514 9.00002L514 7.00002L511.991 7.00002L511.991 9.00002Z" fill="#888888"/>
        <path d="M0.292893 7.29289C-0.0976311 7.68342 -0.0976311 8.31658 0.292893 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928932C7.68054 0.538408 7.04738 0.538408 6.65685 0.928932L0.292893 7.29289ZM232 7H230.009V9H232V7ZM226.026 7H222.043V9L226.026 9V7ZM218.06 7L214.078 7V9H218.06V7ZM210.095 7L206.112 7V9H210.095V7ZM202.129 7L198.147 7V9H202.129V7ZM194.164 7L190.181 7V9H194.164V7ZM186.198 7L182.216 7V9H186.198V7ZM178.233 7L174.25 7V9H178.233V7ZM170.267 7L166.284 7V9H170.267V7ZM162.302 7H158.319V9H162.302V7ZM154.336 7H150.353V9L154.336 9V7ZM146.371 7H142.388V9H146.371V7ZM138.405 7L134.422 7V9L138.405 9V7ZM130.44 7H126.457V9H130.44V7ZM122.474 7L118.491 7V9H122.474V7ZM114.509 7L110.526 7V9H114.509V7ZM106.543 7L102.56 7V9H106.543V7ZM98.5776 7L94.5949 7V9L98.5776 9V7ZM90.6121 7H86.6293V9H90.6121V7ZM82.6466 7H78.6638V9L82.6466 9V7ZM74.6811 7H70.6983V9H74.6811V7ZM66.7155 7H62.7328V9L66.7155 9V7ZM58.75 7H54.7673V9H58.75V7ZM50.7845 7L46.8018 7V9L50.7845 9V7ZM42.819 7L38.8362 7V9H42.819V7ZM34.8535 7L30.8707 7V9H34.8535V7ZM26.888 7L22.9052 7V9H26.888V7ZM18.9225 7L14.9397 7V9H18.9225V7ZM10.9569 7L6.97419 7V9L10.9569 9V7ZM2.99142 7H1V9H2.99142V7ZM0.292893 7.29289C-0.0976311 7.68342 -0.0976311 8.31658 0.292893 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928932C7.68054 0.538408 7.04738 0.538408 6.65685 0.928932L0.292893 7.29289ZM232 7H230.009V9H232V7ZM226.026 7H222.043V9L226.026 9V7ZM218.06 7L214.078 7V9H218.06V7ZM210.095 7L206.112 7V9H210.095V7ZM202.129 7L198.147 7V9H202.129V7ZM194.164 7L190.181 7V9H194.164V7ZM186.198 7L182.216 7V9H186.198V7ZM178.233 7L174.25 7V9H178.233V7ZM170.267 7L166.284 7V9H170.267V7ZM162.302 7H158.319V9H162.302V7ZM154.336 7H150.353V9L154.336 9V7ZM146.371 7H142.388V9H146.371V7ZM138.405 7L134.422 7V9L138.405 9V7ZM130.44 7H126.457V9H130.44V7ZM122.474 7L118.491 7V9H122.474V7ZM114.509 7L110.526 7V9H114.509V7ZM106.543 7L102.56 7V9H106.543V7ZM98.5776 7L94.5949 7V9L98.5776 9V7ZM90.6121 7H86.6293V9H90.6121V7ZM82.6466 7H78.6638V9L82.6466 9V7ZM74.6811 7H70.6983V9H74.6811V7ZM66.7155 7H62.7328V9L66.7155 9V7ZM58.75 7H54.7673V9H58.75V7ZM50.7845 7L46.8018 7V9L50.7845 9V7ZM42.819 7L38.8362 7V9H42.819V7ZM34.8535 7L30.8707 7V9H34.8535V7ZM26.888 7L22.9052 7V9H26.888V7ZM18.9225 7L14.9397 7V9H18.9225V7ZM10.9569 7L6.97419 7V9L10.9569 9V7ZM2.99142 7H1V9H2.99142V7Z" fill="#888888"/>
        <path d="M243.75 12H241.057V3.27273H243.869C244.716 3.27273 245.44 3.44744 246.043 3.79688C246.645 4.14347 247.107 4.64205 247.428 5.29261C247.749 5.94034 247.909 6.71591 247.909 7.61932C247.909 8.52841 247.747 9.31108 247.423 9.96733C247.099 10.6207 246.628 11.1236 246.009 11.4759C245.389 11.8253 244.636 12 243.75 12ZM242.114 11.0625H243.682C244.403 11.0625 245.001 10.9233 245.476 10.6449C245.95 10.3665 246.304 9.97017 246.537 9.45597C246.77 8.94176 246.886 8.32955 246.886 7.61932C246.886 6.91477 246.771 6.30824 246.541 5.79972C246.311 5.28835 245.967 4.89631 245.51 4.62358C245.053 4.34801 244.483 4.21023 243.801 4.21023H242.114V11.0625ZM252.29 12.1364C251.659 12.1364 251.115 11.9972 250.658 11.7188C250.203 11.4375 249.852 11.0455 249.605 10.5426C249.361 10.0369 249.239 9.44886 249.239 8.77841C249.239 8.10795 249.361 7.51705 249.605 7.00568C249.852 6.49148 250.196 6.09091 250.636 5.80398C251.08 5.5142 251.597 5.36932 252.188 5.36932C252.528 5.36932 252.865 5.42614 253.197 5.53977C253.53 5.65341 253.832 5.83807 254.105 6.09375C254.378 6.34659 254.595 6.68182 254.757 7.09943C254.919 7.51705 255 8.03125 255 8.64205V9.06818H249.955V8.19886H253.977C253.977 7.82955 253.903 7.5 253.756 7.21023C253.611 6.92045 253.403 6.69176 253.134 6.52415C252.866 6.35653 252.551 6.27273 252.188 6.27273C251.787 6.27273 251.44 6.37216 251.148 6.57102C250.858 6.76705 250.635 7.02273 250.479 7.33807C250.322 7.65341 250.244 7.99148 250.244 8.35227V8.93182C250.244 9.42614 250.33 9.84517 250.5 10.1889C250.673 10.5298 250.913 10.7898 251.22 10.9688C251.527 11.1449 251.884 11.233 252.29 11.233C252.554 11.233 252.793 11.196 253.006 11.1222C253.222 11.0455 253.408 10.9318 253.564 10.7812C253.72 10.6278 253.841 10.4375 253.926 10.2102L254.898 10.483C254.795 10.8125 254.624 11.1023 254.382 11.3523C254.141 11.5994 253.842 11.7926 253.487 11.9318C253.132 12.0682 252.733 12.1364 252.29 12.1364ZM261.166 6.92045L260.263 7.17614C260.206 7.02557 260.122 6.87926 260.011 6.73722C259.903 6.59233 259.756 6.47301 259.568 6.37926C259.381 6.28551 259.141 6.23864 258.848 6.23864C258.447 6.23864 258.114 6.33097 257.847 6.51562C257.582 6.69744 257.45 6.92898 257.45 7.21023C257.45 7.46023 257.541 7.65767 257.723 7.80256C257.905 7.94744 258.189 8.06818 258.575 8.16477L259.547 8.40341C260.132 8.54545 260.568 8.76278 260.855 9.0554C261.142 9.34517 261.286 9.71875 261.286 10.1761C261.286 10.5511 261.178 10.8864 260.962 11.1818C260.749 11.4773 260.45 11.7102 260.067 11.8807C259.683 12.0511 259.237 12.1364 258.729 12.1364C258.061 12.1364 257.509 11.9915 257.071 11.7017C256.634 11.4119 256.357 10.9886 256.24 10.4318L257.195 10.1932C257.286 10.5455 257.457 10.8097 257.71 10.9858C257.966 11.1619 258.3 11.25 258.712 11.25C259.18 11.25 259.553 11.1506 259.828 10.9517C260.107 10.75 260.246 10.5085 260.246 10.2273C260.246 10 260.166 9.80966 260.007 9.65625C259.848 9.5 259.604 9.38352 259.274 9.30682L258.183 9.05114C257.584 8.90909 257.143 8.68892 256.862 8.39062C256.584 8.08949 256.445 7.71307 256.445 7.26136C256.445 6.89205 256.548 6.56534 256.756 6.28125C256.966 5.99716 257.251 5.77415 257.612 5.61222C257.976 5.45028 258.388 5.36932 258.848 5.36932C259.496 5.36932 260.004 5.51136 260.374 5.79545C260.746 6.07955 261.01 6.45455 261.166 6.92045ZM263.805 3.27273V12H262.799V3.27273H263.805ZM265.647 12V5.45455H266.653V12H265.647ZM266.158 4.36364C265.962 4.36364 265.793 4.29688 265.651 4.16335C265.512 4.02983 265.442 3.86932 265.442 3.68182C265.442 3.49432 265.512 3.33381 265.651 3.20028C265.793 3.06676 265.962 3 266.158 3C266.354 3 266.522 3.06676 266.661 3.20028C266.803 3.33381 266.874 3.49432 266.874 3.68182C266.874 3.86932 266.803 4.02983 266.661 4.16335C266.522 4.29688 266.354 4.36364 266.158 4.36364ZM268.307 12V11.233L272.023 6.46023V6.39205H268.426V5.45455H273.319V6.25568L269.705 10.9943V11.0625H273.438V12H268.307ZM276.913 12.1534C276.498 12.1534 276.122 12.0753 275.784 11.919C275.446 11.7599 275.177 11.5312 274.978 11.233C274.779 10.9318 274.68 10.5682 274.68 10.142C274.68 9.76705 274.754 9.46307 274.902 9.23011C275.049 8.99432 275.247 8.80966 275.494 8.67614C275.741 8.54261 276.014 8.44318 276.312 8.37784C276.613 8.30966 276.916 8.25568 277.22 8.21591C277.618 8.16477 277.94 8.12642 278.187 8.10085C278.437 8.07244 278.619 8.02557 278.733 7.96023C278.849 7.89489 278.907 7.78125 278.907 7.61932V7.58523C278.907 7.16477 278.792 6.83807 278.562 6.60511C278.335 6.37216 277.99 6.25568 277.527 6.25568C277.047 6.25568 276.67 6.3608 276.397 6.57102C276.125 6.78125 275.933 7.00568 275.822 7.24432L274.868 6.90341C275.038 6.50568 275.265 6.19602 275.549 5.97443C275.836 5.75 276.149 5.59375 276.487 5.50568C276.828 5.41477 277.163 5.36932 277.493 5.36932C277.703 5.36932 277.944 5.39489 278.217 5.44602C278.493 5.49432 278.758 5.59517 279.014 5.74858C279.272 5.90199 279.487 6.13352 279.657 6.44318C279.828 6.75284 279.913 7.16761 279.913 7.6875V12H278.907V11.1136H278.856C278.788 11.2557 278.674 11.4077 278.515 11.5696C278.356 11.7315 278.145 11.8693 277.88 11.983C277.616 12.0966 277.294 12.1534 276.913 12.1534ZM277.066 11.25C277.464 11.25 277.799 11.1719 278.072 11.0156C278.348 10.8594 278.555 10.6577 278.694 10.4105C278.836 10.1634 278.907 9.90341 278.907 9.63068V8.71023C278.865 8.76136 278.771 8.80824 278.626 8.85085C278.484 8.89062 278.319 8.92614 278.132 8.95739C277.947 8.9858 277.767 9.01136 277.591 9.03409C277.417 9.05398 277.277 9.07102 277.169 9.08523C276.907 9.11932 276.663 9.17472 276.436 9.25142C276.211 9.32528 276.029 9.4375 275.89 9.58807C275.754 9.7358 275.686 9.9375 275.686 10.1932C275.686 10.5426 275.815 10.8068 276.074 10.9858C276.335 11.1619 276.666 11.25 277.066 11.25Z" fill="#A8A8A8"/>
    </svg>               
</div>
<style scoped>
    .swiper{
        margin: 2em 0 0 0;
    }
    .swiper-slide {
      height: 600px;
      border-radius: 10px;
      overflow: hidden;
    }
    .swiper-slide img , .swiper-slide video{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .swiper-button-next,
    .swiper-button-prev {
        background-color: white;
        width: 60px;
        height: 60px;
        border-radius: 10px;
    }
    .onMobile{
        display: none;
        width: 100%;
        margin: .5em 0 0 0;
        justify-content: center;
    }
    .onMobile svg{
        width: 90vw;
    }
    @media(max-width: 768px) {
        .swiper-slide {
            width: 90%; /* Útil si la propiedad slidesPerView es "auto" */
            height: 400px;
        }
        .swiper-button-prev,
        .swiper-button-next {
            display: none;
        }
    }
    @media (max-width: 550px) {
        .onMobile{
            display: flex;
            text-align: center;
        }
    }
    
  </style>
